@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&display=swap');

body {
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    font-family: "Silkscreen", "Roboto", sans-serif;
}

main {
    flex: 1;
    border: rgb(66, 105, 66);
    border-style: solid;
    border-radius: 12px;
    border-width: 8px;
    padding: 0;
    margin: 12vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(123, 172, 51);
}

h1 {
    background-color: grey;
    margin: -2px 0 0;
    padding:16px 32px;
    font-weight: 900;
    font-size: 64px;
    border-radius: 8px;
    border-width: 8px;
    border-style: solid;
    border-color: rgb(87, 87, 87);
    border-top-width: 0;
}

.game-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    margin: 4vh 4vw;
}

.gametext-container {
    font-size: 48px;
    color:rgb(66, 105, 66);
    text-align: left;
    align-self: flex-start;
    width: 64vw;
}

.button-container {
    width: 64vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


button {
    font-size: 32px;
    font-family: "Silkscreen", "Roboto", sans-serif;
    font-weight: 900;
    min-width: 256px;
    width: 20%;
    height: 8vh;
    margin: 2vh;
    border-radius: 32px;
    background-color: rgb(51, 51, 51);
    border-width: 8px;
    color: white;
}