body {
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
}

main {
    flex: 1;
    border: rgb(66, 105, 66);
    border-style: solid;
    border-radius: 12px;
    padding: 12px;
    margin: 12vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}